.yt-scrollbar::-webkit-scrollbar{
    width:10px;
}
.yt-scrollbar::-webkit-scrollbar-thumb{
    background: rgb(248, 246, 246)107, 107, 107;
    border-radius: 10px;
}
.yt-scrollbar::-webkit-scrollbar-thumb:hover{
    background: rgb(199, 197, 197);
}
.yt-scrollbar::-webkit-scrollbar-track{
    background: transparent;
}